<div class="side-bar">
    <div class="header">ClearVision</div>
    <div class="category">
        <div class="item" switch-ref="home">Home</div>
        <div class="item" switch-ref="v5">v5</div>
        <div class="item" switch-ref="v6">v6</div>
    </div>
    <div class="header">Wiki</div>
    <div class="category">
        <div class="item" switch-ref="installation">Installation</div>
    </div>
    <div class="header">Credits</div>
    <div class="category">
        <div class="item" switch-ref="images">Images</div>
        <div class="item" switch-ref="icons">Icons</div>
    </div>
</div>